@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Inter/Inter-Regular.woff2") format("woff2"),
    url("./Inter/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Inter/Inter-Bold.woff2") format("woff2"),
    url("./Inter/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Inter", "Arial", "sans-serif";
  ;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./Inter/Inter-Black.woff2") format("woff2"),
    url("./Inter/Inter-Black.woff") format("woff");
}

.body {
  min-width: 1280px;
  background-color: #2A2C2F;
  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  width: 1184px;
  height: 52px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 28px auto 76px auto;
}

.header__logo {
  background-image: url(./images/header-logo.svg);
  background-repeat: no-repeat;
  width: 176px;
  height: 52px;
}

.header__link {
  display: flex;
  column-gap: 10px;
  list-style-type: none;
  text-decoration: none;
}

.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
}

.header__lang-link_active {
  text-decoration: underline;
}

.lead {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
}

.lead__title {
  margin: 0;
  width: 720px;
  height: 200px;
  font-size: 96px;
  line-height: 1;
  text-align: center;
  font-weight: 400;
}

.lead__subtitle {
  margin: 32px auto 64px auto;
  width: 640px;
  height: 72px;
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
}

.lead__image {
  width: 984px;
  height: 615px;
  overflow: hidden;
}

.lead__caption {
  width: 158px;
  height: 14px;
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
}

.intro {
  margin: auto;
  width: 690px;
  height: 429px;
  color: #fff
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0;
}

.intro__text {
  margin: 40px auto 33px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.intro__list {
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
}

.intro__item {
  margin: 0;
}

.photo-grid {
  width: 1184px;
  height: 671px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  margin: 92px auto 92px auto;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
}

.places {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fff;
  margin: auto;
}

.place {
  max-width: 984px;
  display: grid;
  /* align-items: start; */
  grid-template-columns: min-content minmax(min-content, 1fr);
  grid-template-rows: minmax(min-content, max-content) 1fr;
  row-gap: 48px;
  column-gap: 40px;
  margin-top: 80px;
}

.place:first-child {
  margin: 0;
}

.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__website {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #AAAAAA;
}

.place__link {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}

.place__image {
  max-width: 460px;
}

.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.cover {
  margin-top: 109px;
  margin-bottom: 75px;
  width: 1184px;
  height: 740px;
}

.cover__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(./images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 740px;
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 1;
}

.cover__background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .3;
  background-color: #2A2C2F;
}

.cover__title {
  text-align: center;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  z-index: 2;
}

.cover__subtitle {
  z-index: 2;
  text-align: center;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.footer {
  width: 1184px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__links {}

.footer__list {
  display: flex;
  list-style-type: none;
  color: #fff;
  column-gap: 15px;
}

.footer__item {

}

.footer__link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}