/* INTRO */

.intro {
  width: calc(100% - 150px * 2);
  padding: 72px 0 0;
  margin: 0 auto 0 auto;
}
@media screen and (max-width:1279px){
  .intro{
    width: calc(100% - 50px * 2);
  }
}
@media screen and (max-width:1023px){
  .intro{
    width: calc(100% - 25px * 2);
  }
}
@media screen and (max-width:767px){
  .intro{
    width: calc(100% - 15px * 2);
  }
}