.place__link {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  opacity: 1;
  transition: opacity .4s ease-in;
}
.place__link:hover{
  opacity: 0.4;
}