.place__website {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media screen and (max-width: 767px){
.place__website {
    width: calc(100% - 2 * 15px);
    margin: 0 auto;
  }
}